# Backend folder setup instructions
cd backend

# Create a virtual environment and install FastAPI:
python -m venv venv
source venv/bin/activate        # Mac/Linux
venv\Scripts\activate           # Windows

pip install fastapi uvicorn

# Create a file called main.py 

# In main.py, add the following code to create a simple FastAPI application

# Activate the virtual environment:
.\venv\Scripts\activate

# Install the required dependencies:
pip install uvicorn

# Run the FastAPI application:
uvicorn main:app --reload



# Frontend
#installing node js and npm
sudo apt update
sudo apt install nodejs npm
#Check the versions of node and npm
node -v
npm -v
sudo apt install nodejs
npm install express
#installing npx
curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
sudo apt install nodejs
node -v
npm -v
npx -v
#installing axios   
npm install axios
npm install axios
#running frintend
npm run dev
